<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="df aic jcc">
    <form action="" class="contact-from df fw">
        <img class="butterfly" src="../assets/images/1.svg" alt="butterfly">
        <div class="name">
            <div>
                <h2 for="">first name</h2>
                <input type="text" required name="first" id="first" placeholder="first name ..">
                <span class="error" id="firstNameError"></span>
            </div>
            <div>
                <h2>last name</h2>
                <input type="text" required name="last" id="last" placeholder="last name ..">
                <span class="error" id="lastNameError"></span>
            </div>
        </div>
        <div>
            <h2>email address</h2>
            <input type="email" name="email" id="email" required placeholder="for ex : someone@here.com">
            <span class="error" id="emailError"></span>
        </div>
        <div>
            <h2>query type</h2>
            <div class="query">
                <div class="radio">
                    <input type="radio" name="query" id="general" value="general enquiry">
                    <label for="general" class="r">general enquiry</label>
                </div>
                <div class="radio">
                    <input type="radio" name="query" id="support" value="support request">
                    <label for="support" class="r">support request</label>
                </div>
            </div>
            <span class="error" id="queryError"></span>
        </div>
        <div>
            <h2>message</h2>
            <textarea name="message" id="message"></textarea>
            <span class="error" id="messageError"></span>
        </div>
        <div>
            <input type="checkbox" value="cookie" id="cookie" name="cookie">
            <label for="cookie" class="cookie">i know that the team will contact me</label>
            <span class="error" id="cookieError"></span>
        </div>
        <div>
            <input type="submit" value="submit" id="submit">
        </div>
    </form>
    <script src="../js/main.js"></script>
</body>
</html>